@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hero section css */
.dashboard-shadow {
  box-shadow: 0px 0px 30px 0px #ffffff33 inset;
  backdrop-filter: blur(50px);
}

/* Pricing section css */
.pricing-shadow {
  box-shadow: 0px 0px 50px 0px #ffffff66 inset;
}
.pricing-shadow2 {
  box-shadow: 0px 0px 20px 0px #ffffff66 inset;
}
.best-pricing-shadow {
  box-shadow: 0px 0px 30px 0px #ffffff66 inset;
  backdrop-filter: blur(50px);
}
.pricing-gradient {
  background: linear-gradient(102.71deg, #5c35ee 36.13%, #664782 92.55%);
}

/* Nes letter */
.news-letter-shadow {
  box-shadow: 0px 0px 30px 0px #ffffff4d inset;
}
.input-shadow {
  box-shadow: 0px 0px 20px 0px #ffffff1a inset;
}

/* Footer css  */
.footer-shadow {
  box-shadow: 0px 0px 30px 0px #ffffff33 inset;
}

/* Button */
.btn-border {
  border: 1px solid;
  border-image-source: linear-gradient(
    102.71deg,
    #5c35ee 36.13%,
    #664782 92.55%
  );
}
.btn-shadow {
  box-shadow: 0px 0px 20px 0px #983feb inset;
}

/* Review Card */
.reviews-card-shadow {
  box-shadow: 0px 0px 30px 0px #ffffff33 inset;
  backdrop-filter: blur(50px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
